{% load static %}

<footer class="footer">
    <div class="footer-info">
        <div class="footer-logo-redes">
            <img src="{% static 'img/logo4.png' %}" alt="Logo Codo Power Gym" class="img-logo-footer">
            <div class="caja-redes">
                <a href="https://www.facebook.com" target="_blank" class="link-redes"><i class="bi bi-facebook"></i></a>
                <a href="https://wa.me/+5491100000000" target="_blank" class="link-redes"><i
                        class="bi bi-whatsapp"></i></a>
                <a href="https://www.instagram.com" target="_blank" class="link-redes"><i
                        class="bi bi-instagram"></i></a>
                <a href="https://www.google.com/maps" target="_blank" class="link-redes"><i
                        class="bi bi-geo-alt"></i></a>
            </div>
        </div>
        <div>
            <h3 class="texto-titulos">LLAMANOS</h3>
            <img src="{% static 'img/llamada.png' %}" alt="" class="img-footer">
            <span>123 456 7890</span>
        </div>
        <div>
            <h3 class="texto-titulos">UBICACION</h3>
            <img src="{% static 'img/position.png' %}" alt="" class="img-footer">
            <span>Calle 1234 | Localidad</span>
        </div>
        <div>
            <h3 class="texto-titulos">HORARIOS</h3>
            <img src="{% static 'img/reloj.png' %}" alt="" class="img-footer">
            <span>Lunes a Viernes 08:00 a 23:00</span>
            <br>
            <span>Sábados y Domingos 09:00 a 20:00</span>
        </div>
    </div>
    <div>
        <p class="texto-copyright">&copy; 2023 Codo Power Gym.</p> <p class="texto-copyright">Todos los derechos reservados.</p>
    </div>
</footer>