{% extends 'inserts/base.html' %}

{% load static %}

{% block title %} ACTIVIDADES {% endblock %}

{% block content %}

<main>
    <section class="sectionActiv">
        <h1 class="tituloSection">Actividades</h1>
        <p class="introSection">Explorma un mundo de posibilidades para fortalecer tu cuerpo y tu mente en Codo Power Gym. Nuestras variadas actividades te ofrecen la oportunidad de alcanzar tus objetivos de acondicionamiento físico de una manera divertida y motivadora. Unite hoy a nuestra comunidad!</p>
        <div class="containerActiv"></div>
    </section>
</main>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}    


